.elementor-widget-bt_portfolio_grid {
    .grid {
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }

    .grid-sizer, .grid-item {
        &.item-width--1 {
            width: 100%;
        }

        &.item-width--2 {
            width: 50%;
        }

        &.item-width--3 {
            width: 33.33%;
        }

        &.item-width--4 {
            width: 25%;
        }

        &.item-width--5 {
            width: 20%;
        }

        &.item-width--6 {
            width: 16.66%;
        }
    }

    .grid-item {
        &.item-width--1-1, &.item-width--2-2, &.item-width--3-3, &.item-width--4-4, &.item-width--5-5, &.item-width--6-6 {
            width: 100%;
        }

        &.item-width--1-2, &.item-width--2-4, &.item-width--3-6 {
            width: 50%;
        }

        &.item-width--1-3, &.item-width--2-6 {
            width: 33.33%;
        }

        &.item-width--2-3, &.item-width--4-6 {
            width: 66.66%;
        }

        &.item-width--1-4 {
            width: 25%;
        }

        &.item-width--3-4 {
            width: 75%;
        }

        &.item-width--1-5 {
            width: 20%;
        }

        &.item-width--2-5 {
            width: 40%;
        }

        &.item-width--3-5 {
            width: 60%;
        }

        &.item-width--4-5 {
            width: 80%;
        }

        &.item-width--1-6 {
            width: 16.66%;
        }

        &.item-width--5-6 {
            width: 83.33%;
        }
    }

    .grid-item {
        float: left;
    }

    @media (max-width: 1024px) {
        .grid-sizer, .grid-item {
            &.item-width-tablet--1 {
                width: 100%;
            }

            &.item-width-tablet--2 {
                width: 50%;
            }

            &.item-width-tablet--3 {
                width: 33.33%;
            }

            &.item-width-tablet--4 {
                width: 25%;
            }

            &.item-width-tablet--5 {
                width: 20%;
            }

            &.item-width-tablet--6 {
                width: 16.66%;
            }
        }

        .grid-item {
            &.item-width-tablet--1-1, &.item-width-tablet--2-2, &.item-width-tablet--3-3, &.item-width-tablet--4-4, &.item-width-tablet--5-5, &.item-width-tablet--6-6 {
                width: 100%;
            }

            &.item-width-tablet--1-2, &.item-width-tablet--2-4, &.item-width-tablet--3-6 {
                width: 50%;
            }

            &.item-width-tablet--1-3, &.item-width-tablet--2-6 {
                width: 33.33%;
            }

            &.item-width-tablet--2-3, &.item-width-tablet--4-6 {
                width: 66.66%;
            }

            &.item-width-tablet--1-4 {
                width: 25%;
            }

            &.item-width-tablet--3-4 {
                width: 75%;
            }

            &.item-width-tablet--1-5 {
                width: 20%;
            }

            &.item-width-tablet--2-5 {
                width: 40%;
            }

            &.item-width-tablet--3-5 {
                width: 60%;
            }

            &.item-width-tablet--4-5 {
                width: 80%;
            }

            &.item-width-tablet--1-6 {
                width: 16.66%;
            }

            &.item-width-tablet--5-6 {
                width: 83.33%;
            }
        }
    }

    @media (max-width: 767px) {
        .grid-sizer, .grid-item {
            &.item-width-mobile--1 {
                width: 100%;
            }

            &.item-width-mobile--2 {
                width: 50%;
            }

            &.item-width-mobile--3 {
                width: 33.33%;
            }

            &.item-width-mobile--4 {
                width: 25%;
            }

            &.item-width-mobile--5 {
                width: 20%;
            }

            &.item-width-mobile--6 {
                width: 16.66%;
            }
        }

        .grid-item {
            &.item-width-mobile--1-1, &.item-width-mobile--2-2, &.item-width-mobile--3-3, &.item-width-mobile--4-4, &.item-width-mobile--5-5, &.item-width-mobile--6-6 {
                width: 100%;
            }

            &.item-width-mobile--1-2, &.item-width-mobile--2-4, &.item-width-mobile--3-6 {
                width: 50%;
            }

            &.item-width-mobile--1-3, &.item-width-mobile--2-6 {
                width: 33.33%;
            }

            &.item-width-mobile--2-3, &.item-width-mobile--4-6 {
                width: 66.66%;
            }

            &.item-width-mobile--1-4 {
                width: 25%;
            }

            &.item-width-mobile--3-4 {
                width: 75%;
            }

            &.item-width-mobile--1-5 {
                width: 20%;
            }

            &.item-width-mobile--2-5 {
                width: 40%;
            }

            &.item-width-mobile--3-5 {
                width: 60%;
            }

            &.item-width-mobile--4-5 {
                width: 80%;
            }

            &.item-width-mobile--1-6 {
                width: 16.66%;
            }

            &.item-width-mobile--5-6 {
                width: 83.33%;
            }
        }
    }
}

.elementor-widget-bt_portfolio_grid {

    .bt-post__lightbox {
        width: 50px;
        height: 50px;
        font-size: 16px;
        line-height: 50px;
        text-align: center;
        color: #ffffff;
        background: rgba(255, 255, 255, 0.2);
        -webkit-border-radius: 50%;
        border-radius: 50%;

        &:hover {
            color: var(--e-global-color-accent);
            background: #ffffff;
        }
    }

    .bt-portfolio-grid {
        .bt-post--skin-default {
            .bt-post__item {
                background: #ffffff;
                overflow: hidden;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                box-shadow: 0 6px 24px var(--apack-color-accent-opacity-25, rgba(228, 85, 93, 0.23));

                .bt-post__thumbnail {
                    position: relative;
                    overflow: hidden;

                    .bt-thumb-inner {
                        padding-bottom: 75%;

                        .bt-thumb-poster {
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            background-position: center center;
                        }
                    }

                    .bt-post__overlay {
                        transition: .4s;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(120deg, rgba(244, 124, 84, 0.9) 0%, var(--apack-color-accent-opacity-90, rgba(228, 85, 93, 0.9)) 100%);
                        opacity: 0;

                        .bt-post__lightbox {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 50px;
                            height: 50px;
                            font-size: 16px;
                            line-height: 50px;
                            text-align: center;
                            color: #ffffff;
                            background: rgba(255, 255, 255, 0.2);
                            -webkit-border-radius: 50%;
                            border-radius: 50%;
                            -webkit-transform: translateX(-50%) translateY(-50%);
                            -ms-transform: translateX(-50%) translateY(-50%);
                            transform: translateX(-50%) translateY(-50%);

                            &:hover {
                                color: var(--e-global-color-accent);
                                background: #ffffff;
                            }
                        }
                    }
                }

                .bt-post__content {
                    padding: 25px 30px;

                    .bt-post__title {
                        font-size: 22px;
                        font-weight: 700;
                        line-height: 30px;
                        margin-bottom: 0;

                        a {
                            color: #4d3484;

                            &:hover {
                                color: var(--e-global-color-accent);
                            }
                        }
                    }

                    .bt-post__category {
                        font-size: 15px;
                        line-height: 26px;

                        a {
                            color: #716886;

                            &:hover {
                                color: var(--e-global-color-accent);
                            }
                        }
                    }
                }

                &:hover {
                    .bt-post__thumbnail .bt-post__overlay {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .bt-portfolio-masonry {
        .bt-post--skin-default {
            .bt-post__item {
                background: #ffffff;
                overflow: hidden;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                box-shadow: 0 6px 24px var(--apack-color-accent-opacity-25, rgba(228, 85, 93, 0.23));

                .bt-post__thumbnail {
                    position: relative;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: auto;
                    }

                    .bt-post__overlay {
                        transition: .4s;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(120deg, rgba(244, 124, 84, 0.9) 0%, var(--apack-color-accent-opacity-90, rgba(228, 85, 93, 0.9)) 100%);
                        opacity: 0;

                        .bt-post__lightbox {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 50px;
                            height: 50px;
                            font-size: 16px;
                            line-height: 50px;
                            text-align: center;
                            color: #ffffff;
                            background: rgba(255, 255, 255, 0.2);
                            -webkit-border-radius: 50%;
                            border-radius: 50%;
                            -webkit-transform: translateX(-50%) translateY(-50%);
                            -ms-transform: translateX(-50%) translateY(-50%);
                            transform: translateX(-50%) translateY(-50%);

                            &:hover {
                                color: var(--e-global-color-accent);
                                background: #ffffff;
                            }
                        }
                    }
                }

                .bt-post__content {
                    padding: 25px 30px;

                    .bt-post__title {
                        font-size: 22px;
                        font-weight: 700;
                        line-height: 30px;
                        margin-bottom: 0;

                        a {
                            color: #4d3484;

                            &:hover {
                                color: var(--e-global-color-accent);
                            }
                        }
                    }

                    .bt-post__category {
                        font-size: 15px;
                        line-height: 26px;

                        a {
                            color: #716886;

                            &:hover {
                                color: var(--e-global-color-accent);
                            }
                        }
                    }
                }

                &:hover {
                    .bt-post__thumbnail .bt-post__overlay {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .bt-portfolio-cobbles {
        .bt-post--skin-default {
            .bt-post__item {
                position: relative;
                overflow: hidden;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                background: linear-gradient(120deg, rgba(244, 124, 84, 0.9) 0%, var(--apack-color-accent-opacity-90, rgba(228, 85, 93, 0.9)) 100%);

                .bt-post__thumbnail {
                    position: relative;
                    overflow: hidden;

                    .bt-thumb-inner {
                        padding-bottom: 75%;

                        .bt-thumb-poster {
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            background-position: center center;
                        }
                    }
                }

                .bt-post__overlay {
                    transition: .4s;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(120deg, rgba(244, 124, 84, 0.9) 0%, var(--apack-color-accent-opacity-90, rgba(228, 85, 93, 0.9)) 100%);
                    opacity: 0;

                    .bt-post__lightbox {
                        position: absolute;
                        top: 30px;
                        left: 30px;
                    }

                    .bt-post__content {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        padding: 25px 30px;

                        .bt-post__title {
                            margin-bottom: 0;

                            .bt-post__link {
                                font-size: 22px;
                                font-weight: 700;
                                line-height: 30px;
                                color: #ffffff;
                            }
                        }

                        .bt-post__category {
                            font-size: 15px;
                            line-height: 26px;
                            color: #ffffff;

                            a {
                                color: #ffffff;
                            }
                        }
                    }
                }

                &:hover {
                    .bt-post__overlay {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
