.elementor-widget-bt_portfolio_cobbles .grid {
  background: #fafafa; }
  .elementor-widget-bt_portfolio_cobbles .grid:after {
    content: '';
    display: block;
    clear: both; }
.elementor-widget-bt_portfolio_cobbles .grid-item, .elementor-widget-bt_portfolio_cobbles .grid-sizer {
  width: 25%; }
  .elementor-widget-bt_portfolio_cobbles .grid-item.grid-item--width2, .elementor-widget-bt_portfolio_cobbles .grid-sizer.grid-item--width2 {
    width: 50%; }
.elementor-widget-bt_portfolio_cobbles .grid-item {
  float: left;
  height: 600px; }
.elementor-widget-bt_portfolio_cobbles .bt-grid__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 560px;
  height: auto;
  padding: 15px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }
  .elementor-widget-bt_portfolio_cobbles .bt-grid__heading .bt-icon {
    font-size: 90px;
    margin-bottom: 20px; }
  .elementor-widget-bt_portfolio_cobbles .bt-grid__heading .bt-title {
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .elementor-widget-bt_portfolio_cobbles .bt-grid__heading .bt-description {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px; }
  .elementor-widget-bt_portfolio_cobbles .bt-grid__heading .bt-btn-link {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 22px;
    color: #ffffff;
    background: linear-gradient(120deg, var(--apack-color-accent) 0%, #f47c54 100%);
    border-radius: 30px 30px 30px 30px;
    padding: 15px 35px 15px 35px; }
    .elementor-widget-bt_portfolio_cobbles .bt-grid__heading .bt-btn-link:hover {
      background: linear-gradient(120deg, #f47c54 0%, var(--apack-color-accent) 100%); }
.elementor-widget-bt_portfolio_cobbles .bt-post__item {
  position: relative;
  width: 100%;
  height: 100%; }
  .elementor-widget-bt_portfolio_cobbles .bt-post__item .bt-post__overlay {
    transition: .4s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, rgba(244, 124, 84, 0.9) 0%, var(--apack-color-accent-opacity-90, rgba(228, 85, 93, 0.9)) 100%);
    opacity: 0; }
    .elementor-widget-bt_portfolio_cobbles .bt-post__item .bt-post__overlay .bt-post__lightbox {
      position: absolute;
      top: 40px;
      left: 40px;
      width: 88px;
      height: 88px;
      font-size: 18px;
      line-height: 88px;
      text-align: center;
      color: #ffffff;
      background: rgba(255, 255, 255, 0.2);
      -webkit-border-radius: 50%;
      border-radius: 50%; }
      .elementor-widget-bt_portfolio_cobbles .bt-post__item .bt-post__overlay .bt-post__lightbox:hover {
        color: var(--apack-color-accent);
        background: #ffffff; }
    .elementor-widget-bt_portfolio_cobbles .bt-post__item .bt-post__overlay .bt-post__content {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 40px; }
      .elementor-widget-bt_portfolio_cobbles .bt-post__item .bt-post__overlay .bt-post__content .bt-post__title {
        margin-bottom: 10px; }
        .elementor-widget-bt_portfolio_cobbles .bt-post__item .bt-post__overlay .bt-post__content .bt-post__title .bt-post__link {
          font-size: 32px;
          font-weight: 700;
          line-height: 40px;
          color: #ffffff; }
      .elementor-widget-bt_portfolio_cobbles .bt-post__item .bt-post__overlay .bt-post__content .bt-post__category {
        font-size: 15px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        color: #ffffff; }
        .elementor-widget-bt_portfolio_cobbles .bt-post__item .bt-post__overlay .bt-post__content .bt-post__category a {
          font-weight: 400;
          color: #ffffff; }
  .elementor-widget-bt_portfolio_cobbles .bt-post__item:hover .bt-post__overlay {
    opacity: 1; }
@media (max-width: 991px) {
  .elementor-widget-bt_portfolio_cobbles .grid-item, .elementor-widget-bt_portfolio_cobbles .grid-sizer {
    width: 50%; }
    .elementor-widget-bt_portfolio_cobbles .grid-item.grid-item--width2, .elementor-widget-bt_portfolio_cobbles .grid-sizer.grid-item--width2 {
      width: 100%; } }
@media (max-width: 767px) {
  .elementor-widget-bt_portfolio_cobbles .grid-item, .elementor-widget-bt_portfolio_cobbles .grid-sizer {
    width: 100%; }
    .elementor-widget-bt_portfolio_cobbles .grid-item.grid-item--width2, .elementor-widget-bt_portfolio_cobbles .grid-sizer.grid-item--width2 {
      width: 100%; } }

/*# sourceMappingURL=apack-elementor-portfolio-cobbles.css.map */
