@font-face {
    font-family: 'NeueEinstellung';
    src: url('WEB/NeueEinstellung-Normal.eot');
    src: url('WEB/NeueEinstellung-Normal.eot#iefix') format('embedded-opentype'),
         url('WEB/NeueEinstellung-Normal.woff2') format('woff2'),
         url('WEB/NeueEinstellung-Normal.woff') format('woff'),
         url('TTF/NeueEinstellung-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeueEinstellung';
    src: url('WEB/NeueEinstellung-Bold.eot');
    src: url('WEB/NeueEinstellung-Bold.eot?#iefix') format('embedded-opentype'),
         url('WEB/NeueEinstellung-Bold.woff2') format('woff2'),
         url('WEB/NeueEinstellung-Bold.woff') format('woff'),
         url('TTF/NeueEinstellung-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NeueEinstellung';
    src: url('WEB/NeueEinstellung-Medium.eot');
    src: url('WEB/NeueEinstellung-Medium.eot?#iefix') format('embedded-opentype'),
         url('WEB/NeueEinstellung-Medium.woff2') format('woff2'),
         url('WEB/NeueEinstellung-Medium.woff') format('woff'),
         url('TTF/NeueEinstellung-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NeueEinstellung';
    src: url('WEB/NeueEinstellung-SemiBold.eot');
    src: url('WEB/NeueEinstellung-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('WEB/NeueEinstellung-SemiBold.woff2') format('woff2'),
         url('WEB/NeueEinstellung-SemiBold.woff') format('woff'),
         url('TTF/NeueEinstellung-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
