.bt-team-skin-default {
    .bt-post__item {
        position: relative;
        overflow: hidden;
        text-align: left;

        .bt-post__header {
            position: relative;
            margin-bottom: 15px;

            .bt-post__thumbnail {
                position: relative;
                display: inline-block;
                width: 100%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: auto;
                }

                .bt-posts--thumbnail-ratio& {
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;

                    img {
                        position: absolute;
                        top: calc(50% + 1px);
                        left: calc(50% + 1px);
                        -webkit-transform: scale(1.01) translate(-50%, -50%);
                        -ms-transform: scale(1.01) translate(-50%, -50%);
                        transform: scale(1.01) translate(-50%, -50%);
                        width: auto;
                        height: 100%;
                        max-height: none;
                        max-width: none;
                    }
                }
            }
        }

        .bt-post__content {
            .bt-post__title {
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 5px;
                color: #4d3484;

                a {
                    color: #4d3484;
                }
            }

            .bt-post__position {
                font-size: 15px;
                color: #716886;
                margin-bottom: 10px;
            }

            .bt-post__socials {
                margin: 0 0 15px;
                padding: 0;

                li {
                    list-style: none;
                    display: inline-block;

                    &:not(:last-child) {
                        margin-right: 5px;
                    }

                    a {
                        display: inline-block;
                        color: #4d3484;
                        background: #ebebeb;
                        padding: 10px;
                        border-radius: 10%;

                        i {
                            position: relative;
                            display: block;
                            width: 1em;
                            height: 1em;
                            font-size: 15px;
                            text-align: center;
                        }
                    }
                }
            }

            .bt-post__readmore {
                display: inline-block;
                font-size: 15px;
            }
        }
    }
}

.bt-team-skin-layout1 {
    .bt-post__item {
        text-align: left;

        .bt-post__header {
            position: relative;
            margin-bottom: 30px;
            overflow: hidden;

            &:before, &:after {
                content: "";
                position: absolute;
                bottom: -80px;
                left: -140px;
                width: 280px;
                height: 200px;
                background: #ffffff;
                opacity: 0.8;
                z-index: 1;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                -webkit-transform: rotate(40deg);
                -ms-transform: rotate(40deg);
                transform: rotate(40deg);
            }

            &:after {
                bottom: -55px;
                left: -115px;
                width: 230px;
                height: 150px;
                opacity: 1;
            }

            .bt-post__thumbnail {
                position: relative;
                overflow: hidden;
                -webkit-border-radius: 50%;
                border-radius: 50%;

                img {
                    .easing-animation;
                    width: 100%;
                    height: auto;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                }
            }

            .bt-post__readmore {
                position: absolute;
                bottom: 15px;
                left: 15px;
                display: inline-block;
                width: 40px;
                height: 40px;
                font-size: 20px;
                line-height: 40px;
                text-align: center;
                color: @main-color;
                background: #ffffff;
                z-index: 2;
                -webkit-border-radius: 40px;
                border-radius: 40px;
            }

        }

        .bt-post__content {
            .bt-post__title {
                font-size: 30px;
                font-weight: 700;
                line-height: 40px;
                margin-bottom: 5px;
                color: #4d3484;

                a {
                    color: #4d3484;

                    &:hover {
                        color: @main-color;
                    }
                }
            }

            .bt-post__position {
                font-size: 16px;
                line-height: 26px;
                text-transform: uppercase;
                color: #716886;
            }
        }

        &:hover {
            .bt-post__header .bt-post__thumbnail img {
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }
}

.elementor-widget-bt_team_grid, .elementor-widget-bt_team_carousel {
    .bt-post--skin-default {
        .bt-team-skin-default;
    }

    .bt-post--skin-layout1 {
        .bt-team-skin-layout1;
    }

}

.bt-blog-skin-default {
    .bt-post__item {
        position: relative;
        overflow: hidden;
        text-align: left;

        .bt-post__header {
            position: relative;
            margin-bottom: 15px;

            .bt-post__thumbnail {
                position: relative;
                display: inline-block;
                width: 100%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: auto;
                }

                .bt-posts--thumbnail-ratio& {
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;

                    img {
                        position: absolute;
                        top: calc(50% + 1px);
                        left: calc(50% + 1px);
                        -webkit-transform: scale(1.01) translate(-50%, -50%);
                        -ms-transform: scale(1.01) translate(-50%, -50%);
                        transform: scale(1.01) translate(-50%, -50%);
                        width: auto;
                        height: 100%;
                        max-height: none;
                        max-width: none;
                    }
                }
            }
        }

        .bt-post__content {
            .bt-post__title {
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 10px;
                color: #4d3484;

                a {
                    color: #4d3484;

                    &:hover {
                        color: @main-color;
                    }
                }
            }

            .bt-post__meta {
                margin: 0 0 15px;
                padding: 0;

                li {
                    list-style: none;
                    display: inline-block;
                    font-size: 15px;
                    color: #716886;

                    &:not(:last-child) {
                        margin-right: 15px;
                    }

                    i {
                        display: inline-block;
                        margin-right: 5px;
                    }

                    a {
                        color: #716886;

                        &:hover {
                            color: @main-color;
                        }
                    }
                }
            }

            .bt-post__excerpt {
                margin-bottom: 10px;
            }

            .bt-post__readmore {
                display: inline-block;
                font-size: 15px;
                color: #716886;

                &:hover {
                    color: @main-color;
                }
            }
        }
    }
}

.bt-blog-skin-layout1 {
    .bt-post__item {
        position: relative;
        overflow: hidden;
        text-align: left;
        background: #ffffff;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 6px 24px fadeout(@main-color, 77);
        -ms-box-shadow: 0 6px 24px fadeout(@main-color, 77);
        box-shadow: 0 6px 24px fadeout(@main-color, 77);

        .bt-post__header {
            position: relative;
            line-height: 0;
            margin-bottom: 0;

            .bt-post__thumbnail {
                position: relative;
                display: inline-block;
                width: 100%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: auto;
                }

                .bt-posts--thumbnail-ratio& {
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;

                    img {
                        position: absolute;
                        top: calc(50% + 1px);
                        left: calc(50% + 1px);
                        -webkit-transform: scale(1.01) translate(-50%, -50%);
                        -ms-transform: scale(1.01) translate(-50%, -50%);
                        transform: scale(1.01) translate(-50%, -50%);
                        width: auto;
                        height: 100%;
                        max-height: none;
                        max-width: none;
                    }
                }
            }
        }

        .bt-post__content {
            position: relative;
            padding: 40px;

            .bt-post__title {
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 10px;
                color: #4d3484;

                a {
                    color: #4d3484;

                    &:hover {
                        color: @main-color;
                    }
                }
            }

            .bt-comments-number {
                position: absolute;
                top: 0;
                right: 30px;
                margin-top: -23px;

                i {
                    font-size: 46px;
                    color: @main-color;
                    background: -webkit-linear-gradient(120deg, #e4555d 0%, #f47c54 100%);;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    font-size: 18px;
                    line-height: 46px;
                    text-align: center;
                    color: #ffffff;
                }
            }

            .bt-post__meta {
                margin: 0 0 15px;
                padding: 0;

                li {
                    list-style: none;
                    display: inline-block;
                    font-size: 15px;
                    color: #716886;

                    &:not(:last-child) {
                        margin-right: 15px;
                    }

                    i {
                        display: inline-block;
                        margin-right: 5px;
                    }

                    a {
                        color: #716886;

                        &:hover {
                            color: @main-color;
                        }
                    }
                }
            }

            .bt-post__excerpt {
                margin-bottom: 10px;
            }

            .bt-post__readmore {
                display: inline-block;
                font-size: 15px;
                color: #716886;

                &:hover {
                    color: @main-color;
                }
            }
        }
    }
}

.elementor-widget-bt_blog_grid, .elementor-widget-bt_blog_carousel {
    .bt-post--skin-default {
        .bt-blog-skin-default;
    }

    .bt-post--skin-layout1 {
        .bt-blog-skin-layout1;
    }

}

.bt-post--align-left .bt-post__item {
    text-align: left;
}

.bt-post--align-center .bt-post__item {
    text-align: center;
}

.bt-post--align-right .bt-post__item {
    text-align: right;
}

.swiper-button-prev.bt-swiper__button-prev, .swiper-button-next.bt-swiper__button-next {
    display: inline-block;
    color: #4d3484;
    background: #ebebeb;
    padding: 10px;
    border-radius: 10%;

    i {
        position: relative;
        display: block;
        width: 1em;
        height: 1em;
        font-size: 15px;
    }
}

.swiper-pagination.bt-swiper__pagination {
    position: static;
    margin-top: 20px;
}

.bt-elementor__pagination {
    text-align: center;
    margin-top: 40px;

    .page-numbers {
        display: inline-block;
        font-size: 15px;
        font-weight: @font-weight-bold;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        min-width: 40px;
        height: 40px;
        color: @heading-text-color;
        background: #edeaf2;
        padding: 0 10px;
        border-radius: 30px;

        &:not(:last-child) {
            margin-right: 5px;
        }

        &.prev, &.next {
            font-size: 14px;
            padding: 0 15px;
        }

        &.current {
            color: #ffffff;
            background: @main-color;
        }
    }

    a.page-numbers:hover {
        color: #ffffff;
        background: @main-color;
    }
}

.bt-pagination--align-left {
    .swiper-pagination.bt-swiper__pagination, .bt-elementor__pagination {
        text-align: left;
    }
}

.bt-pagination--align-center {
    .swiper-pagination.bt-swiper__pagination, .bt-elementor__pagination {
        text-align: center;
    }
}

.bt-pagination--align-right {
    .swiper-pagination.bt-swiper__pagination, .bt-elementor__pagination {
        text-align: right;
    }
}
